<!DOCTYPE html>
<html>

<head>
  <!-- Tab Title -->
  <title>Eat da Burger!</title>
  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lobster|Seaweed+Script|Spicy+Rice" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />
  <script src="/assets/js/app.js"></script>
</head>

<body>

  {{{body}}}

</body>

</html>